/* All page */
#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
    
}

/* title of the page */
.home-title {
    color: black;
    font-size: 2em;
    margin-top: 10px;
    font-style: Monserrat;
    text-align: center;
}
.subtile{
    font-style: OpenSans;
    font-size: 1em;
    margin-top: 10px;
}

/* Navegation bar */
header {
    background-color: #181A2D;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: background-color 0.3s;
    padding: 40px;
    padding: 40px;
}

nav a:hover {
    background-color: #622495;
    color: #F6AE2D;
}

/* Grid */
#mainPosition{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

#r_one{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 400px;

} 

#l_one{
    grid-column: 3/4;
    grid-row: 3/4;
    width: 400px;
    
}

p {
    grid-column: 1/2;
    grid-row: 1/4;
}

/* Footer */
footer {
    background-color: #181A2D;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}










/* Media Create */
@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    .home-title {
        font-size: 25px;
    }

    footer {
        margin-top: 25px;
    }
}
