/* * {
    border: 1px solid red;
} */

/* All page */
#content {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 1em;
}

/* title of the page */
.home-title {
    color: black;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


/* Navegation bar */
header {
    display: flex;
    background-color: #181A2D;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-bottom: 15px;
}

.logo {
    max-width: 100%;
    border: 1em;
    margin: 10px;

}

nav {
    display: block;
    align-items: center;
}

nav a {
    border-radius: 5px;
    background-color: #86BBD8;
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: background-color 0.3s;
    margin: 10px;
}

nav a:hover {
    background-color: #622495;
    color: #F6AE2D;
    text-decoration: none;
}

.index_paragraph {
    /* word-spacing: 5px; */
    text-align: justify;
    line-height: 50px;
}

/* Grid */
#mainPosition {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-gap: 10px; */
}

/* #r_one {
    grid-column: 3/5;
    grid-row: 2/3;
    width: 400px;
} */
#r_one {
    grid-column: 4/6;
    grid-row: 2/3;
    width: 500px;
}

/* #l_one {
    grid-column: 4/6;
    grid-row: 3/4;
    width: 400px;
} */
#l_one {
    grid-column: 5/7;
    grid-row: 3/4;
    width: 500px;
}

.index_paragraph {
    grid-column: 1/3;
    grid-row: 1/4;
}


/* Footer */
footer {
    display: flex;
    background-color: #181A2D;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
    text-decoration: none;
    margin-top: 15px;
}


/* Contact bottom */
#bottom:link,
#bottom:visited {
    background-color: #86BBD8;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: color 0.2s;
}


#bottom:hover {
    background-color: #622495;
    color: #F6AE2D;
}


.social-icons {
    margin-top: 10px;
    text-decoration: none;
}

.icon {
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    color: #86BBD8;
    transition: color 0.2s;
}

.icon:hover {
    color: #622495;

}


/* Second page */

/* Grid */
#secondPosition {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#top_one {
    grid-column: 5/6;
    grid-row: 5/6;
    width: 500px;
}

#below_one {
    grid-column: 5/6;
    grid-row: 7/8;
    width: 500px;
}

/* Paragraphs */
.first_paragraph {
    grid-column: 1/4;
    grid-row: 1/1;
}

.subfirst_paragraph {
    grid-column: 2/4;
    grid-row: 2/2;
}

.secfirst_subparagraph {
    grid-column: 1/4;
    grid-row: 3/3;
}


.second_paragraph {
    grid-column: 1/4;
    grid-row: 4/4;
}

.sub_second_paragraph {
    grid-column: 2/4;
    grid-row: 5/5;
}


.third_paragraph {
    grid-column: 1/4;
    grid-row: 6/6;
}

.thirdsub_paragraph {
    grid-column: 2/4;
    grid-row: 7/7;
}


.fourth_paragraph {
    grid-column: 1/4;
    grid-row: 8/8;
}

.fourthsub_paragraph {
    grid-column: 2/4;
    grid-row: 9/9;
}

.secfourth_paragraph {
    grid-column: 1/4;
    grid-row: 10/10;
}


/* Third page */

#thirdPosition {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-gap: 5px; */
}

#left_top_one {
    grid-column: 1/2;
    grid-row: 1/1;
    width: 500px;
}

.first_top{
    grid-column: 3/4;
    grid-row: 1/1;
}

.frist_second{
    grid-column: 1/2;
    grid-row: 2/2;
}

.second_first{
    grid-column: 1/2;
    grid-row: 3/3;
}

.second_sec{
    grid-column: 1/2;
    grid-row: 5/5;
}

.third_one{
    grid-column: 1/2;
    grid-row: 6/6;
}

.third_second{
    grid-column: 3/4;
    grid-row: 2/2;
}

.last_paragraph{
    grid-column: 3/4;
    grid-row: 3/4;
}

#right_low_one {
    grid-column: 3/4;
    grid-row: 5/7;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Contact us page */
/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #181A2D;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #86BBD8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #622495;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}




/* Media Create */
@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    .home-title {
        font-size: 25px;
    }

    footer {
        margin-top: 25px;
    }
}